venv
*.pyc
*.swp
.coverage
ContinuousIntegration/
ci_dep.txt
coverage.xml
dist/
entity_management/entity_management.egg-info/
pep8.txt
platform_venv/
pylint.txt
test-reports/
entity_management/doc/build/doctrees/
entity_management/doc/build/html/
